*.wav
*.rar
*.zip
*.weights
*.keras
.DS_Store
# *.jpeg
# *.jpg
# *.png
IVP501
IVP501/Final Project/Deepfish/
IVP501/Final Project/datasets/
IVP501/Final Project/runs/
MLE501/Final Project/
IAD591
DAM501
.venv
NLP501/aclImdb/
NLP501/*.gz